
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  background-color: rgb(58, 53, 53);
}

a{
  color: #fff;
  text-decoration: none;
  font-size: 16px;
}

li{
  list-style: none;
}

button{
  padding: 7px 10px;
  background: tomato;
  color: white;
  border: transparent;
  border-radius: 3px;
  transition: 0.5s;

}

h1{
  font-size: 30px;
}
p, h1,h2,h3,h4,h5{
  color: rgb(224, 211, 211);
}

/* ===============Header Section Start============= */
.header{
  width: 80%;
  margin: 0 auto;
  background-color: rgba(38,70,83,255);
}

.nav-bar{
  display: flex;
  justify-content: space-between;
}

.nav-logo{
  width: 80px;
  height: 70px;
  margin-left: 40px;
  padding-top:10px;
}

.nav-logo img{
  width: 100%;
  transition: 0.5s;
}

.nav-item li{
  display: inline-flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
  margin-right: 20px;
  transition: 0.5s;
  transition: 0.5s;
}
.nav-item li a{
  margin-right: 25px;
  font-size: 17px;
}
.nav-bar button{
  width: 90px;
  height: 35px;
  font-size: 17px;
}

/* =============== Bannar Section ========== */

.bannar-container{
  width: 100%;
  display: flex;
  padding-bottom: 45px;
}

.bannar-text{
  width: 60%;
  margin-top: 120px;
  padding: 0 20px 0 50px;
}

.bannar-text h5{
  padding-bottom: 10px;
}

.bannar-text h1{
  padding-bottom: 10px;
  transition: 0.5s;
}
.bannar-text p{
  padding-bottom: 20px;
  text-align: justify;
  padding-right: 20px;
  transition: 0.5s;
}

.bannar-image{
  width: 40%;
  padding-right: 50px;
  padding-top: 40px;
  padding-bottom: 30px;
}
.bannar-image img{
  width: 100%;
}

/* ===============Feature Section===================  */

.feature{
  width: 80%;
  margin: 0 auto;
  background-color: #fff;
}

.feature-text{
  text-align: center;
  padding-top: 20px;
}
.feature-text h1{
  color: black;
  transition: 0.5s;
}

.feature-text p{
  color: red;
  padding-bottom: 15px;
  transition: 0.5s;
}
.feature-galary{
  display: flex;
  justify-content: space-between;
  padding: 0  30px;
}

.feature-item{
  width: 30%;
}
.feature-item img{
  width: 100%;
  overflow: hidden;
  transition: 0.5s;
}
.feature-item:nth-child(1){
 filter: grayscale(100%);
}
.feature-item:nth-child(3){
  filter: grayscale(100%);
 }
 
 /* ==========News============ */

.news{
  width: 80%;
  margin: 0 auto;
  background-color: white;
}

.news-container{
  width: 100%;
}
.news-container h1{
  color: black;
  font-size: 30px;
  text-align: center;
  padding-bottom: 30px;
}
.news-card{
  width: 100%;
  display: flex;
  justify-content: space-between;
  padding: 10px 40px;
  border: 1px solid whitesmoke
}

.card-item{
  width: 32%;
  border: 1px solid rgb(138, 132, 132);
  transition: 0.5s;
  
}

.card-item-img{
  width: 100%;
}

.card-item-img img{
  width: 100%;
  transition: 0.5s;
}

.card-item h4{
  color: black;
  padding-top: 20px;

}

.card-item p{
  color: black;
  text-align: justify;
  padding-bottom: 20px;

}

/* =================Client================ */

.client{
  width: 80%;
  margin: 0 auto;
  background-color: #fff;
}

.client-container{
  width: 100%;
  
}
.client-container h1{
  color: black;
  text-align: center;
  padding-top: 30px;
  padding-bottom: 30px;
  transition: 0.5s;
}

.client-container h1 span{
  color: rgb(255, 153, 0);
  
}

.client-card{
  width: 100%;
  display: flex;
  justify-content: space-between;
  padding-bottom: 20px;
}

.client-card-item{
  width: 30%;
  transition: 0.5s;
  border: 1px solid rgb(231, 222, 222);
  margin: 0 40px;
}

.client-image{
  width: 100px;
  height: 100px;
  display: block;
  left: 0;
  right: 0;
  margin: 0 auto;
  
}

.client-image img{
  width: 100%;

}
.client-card-item p{
  text-align: justify;
  padding: 10px;
  color: black;
}

.client-star{
  text-align: center;
  color:rgb(255, 145, 0)
}

.client-card-item h4{
  font-size: 15px;
  color:rgb(0, 26, 255);
  text-align: center;
  padding-top: 10px;
}

.client-card-item h5{
  color: black;
  text-align: center;
  padding-top: 10px;
}

/* ==============Question section=============== */

 .question{
  width: 80%;
  margin: 0 auto;
  background-color: white;
 }
 .question h1{
  color: black;
  font-size: 35px;
  text-align: center;
  padding: 20px 0;
 }
 .question span{
  color: red;
 }
 .question-container{
  width: 100%;
  display: flex;
  justify-content: space-between;
  
 }

.question-img{
  width: 40%;
  padding: 20px;
}

.question-img img{
  width: 100%;
}

.question-part{
  width: 60%;
  display: flex;
  flex-direction: column;
  margin-top: 80px;
}
.question-individual{
  width: 100%;
  display: flex;
  justify-content: center;
  margin: 10px;

}
.question-individual p{
  color: black;
  border: 1px solid rgb(195, 187, 187);
  padding: 10px;
}
.question-individual i{
  margin-left: 20px;
  margin-top: 15px;
  color: black
}

/* ===============Video============ */
.video{
 width: 80%;
  margin: 0 auto;
  background-color: #fff;

}

.video h1{
  text-align: center;
  padding-top: 40px;
  padding-bottom: 30px;
  color: black;
}

.video h1 span{
  color: red;
}

.video-container{
  width: 100%;
  display: grid;
  grid-template-columns: auto auto;
 

}

.video-card{
  width: 100%;
  padding-left: 10px;
  padding-right: 10px;

}

.video-display{
  width: 100%;
  height: 350px;
}

.video-display iframe{
  width: 100%;
  height: 100%;
}

.video-desc{
  padding-top: 20px;
  padding-bottom: 20px;
  text-align: center;
}

.video-desc p,h2{
  color:black;
}

/* =================image-galary============== */

.image-galary{
  width: 80%;
  margin: 0 auto;
  background-color: #fff;
}
.image-galary h1{
  text-align: center;
  color: black;
  padding: 30px 0;
}
.image-galary h1 span{
  color: red;
}
.galary-container{
  width: 70%;
  display: block;
  margin: 0 auto;
  padding-bottom: 30px;
}

.galary-container img{
  width: 100%;

}

/* ====================Footer============== */

.footer{
  width: 80%;
  margin: 0 auto;
}

.footer-container{
  display: flex;
  justify-content: space-between;
  padding: 30px 0;
}

.footer-text ul{
  display: inline-flex;
  
}
.footer-text ul li{
  list-style: none;
  margin: 0 7px 0 0;
}
.footer-text p, h5{
  padding-top: 10px;
  font-size: 10px;
}

.footer-text ul li a{
  font-size: 10px;
}
 
.app-description h3, i{
  color: tomato;
  font-weight: 400;
}
